<div class="chat-outer wrapper">
  <div class="{{styles.chat}}">
    <div class="{{styles.chat__left}}">
      <header class="{{styles.chats__header}}">
        <div class="{{styles.left}}">
          <div class="{{styles.avatar}}">
            <img src="{{avatar.pathname}}" alt="avatar">
          </div>

          <span class="{{styles.userName}}">{{data.display_name}}</span>
        </div>

        <div class="{{styles.right}}">

          {{{passwordButton}}}
          {{{settingsButton}}}
          {{{logoutLink}}}
        </div>
      </header>


      {{{chatsList}}}
    </div>

    {{{chatWindow}}}
    {{{settingsModal}}}
    {{{passwordModal}}}
  </div>

</div>
