<div class="chat-outer wrapper">
  <div class="{{styles.chat}}">
    <div class="{{styles.chat__left}}">
      <header class="{{styles.chats__header}}">
        <div class="{{styles.left}}">

          <div class="{{styles.avatar}}">
            {{#if avatar.pathname}}
              <img src="{{avatar.pathname}}" alt="avatar">
            {{else}}
              <span>{{letter}}</span>
            {{/if}}
          </div>

          <span class="{{styles.userName}}">{{currentName}}</span>
        </div>

        <div class="{{styles.right}}">

          {{{passwordButton}}}
          {{{settingsButton}}}
          {{{logoutLink}}}
        </div>
      </header>


      {{{chatsList}}}
    </div>

    {{{chatWindow}}}
    {{{settingsModal}}}
    {{{passwordModal}}}
  </div>

</div>
