<div class="chat-outer wrapper">
  <div class="{{styles.chat}}">
    <div class="{{styles.chat__left}}">
      <header class="{{styles.chats__header}}">
        <span>
            Chats
        </span>

        {{{settingsButton}}}
        {{{logoutLink}}}
      </header>

      {{{chatsList}}}
    </div>

    {{{chatWindow}}}
    {{{settingsModal}}}
  </div>

</div>
