<div class="chat-outer wrapper">
  <div class="{{styles.chat}}">
    <div class="{{styles.chat__left}}">
      <header class="{{styles.chats__header}}">
        <div class="{{styles.avatar}}">
          <img src="{{avatar.pathname}}" alt="avatar">
        </div>

        {{{settingsButton}}}
        {{{logoutLink}}}
      </header>

      {{{chatsList}}}
    </div>

    {{{chatWindow}}}
    {{{settingsModal}}}
  </div>

</div>
