<div class="chat-outer wrapper">
  <div class="chat wrapper">
    <div class="chat__left chats">
      <header class="chats__header">
        <span>
            Chats
        </span>

        {{{settingsButton}}}
        {{{logoutLink}}}
      </header>

      {{{chatsList}}}
    </div>

    {{{chatWindow}}}
    {{{settingsModal}}}
  </div>

</div>
