<label class="{{ styles.label }}" >
  <div>
    <input class="{{ styles.input }}" type="{{type}}" value="{{value}}" name="{{name}}" placeholder=" " required="{{isRequired}}" {{extraAttrs}}>

    <span>
      {{text}}
    </span>
  </div>

  {{{error}}}
</label>
