<div class="{{styles.auth}}">
  <div class="{{styles.authInner}}">
    <h2 class="title title--h2">
      {{title}}
    </h2>

    {{{signUpForm}}}

    <div class="{{styles.error}}">{{{signUpError}}}</div>
    {{{signInLink}}}
  </div>
</div>

