<div class="{{styles.settings}}" style="display: none">
  <div class="modal__inner">
    <h2 class="title title--h2">
      Settings
    </h2>

    {{{uploadAvatar}}}

    {{{form}}}

    <button class="{{styles.close}}" type="button" class="{{styles.close}}">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
        <path d="M13 13L1 1M13 1L1 13" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
   </div>
</div>
