<div class="auth modal wrapper">
    <div class="modal__inner">
        <h2 class="title title--h2">
          {{title}}
        </h2>

      {{{signInForm}}}

      {{{signUpLink}}}
      {{{autoCompleteButton}}}
      <div class="error">{{{error}}}</div>
    </div>

</div>
