<div class="{{ styles.auth }}">
    <div class="modal__inner">
        <h2 class="title title--h2">
          {{title}}
        </h2>

      {{{signInForm}}}

      {{{autoCompleteButton}}}
      {{{signUpLink}}}

      <div class="error">{{{error}}}</div>
    </div>

</div>
