<div class="{{ styles.auth }}">
    <div class="modal__inner">
        <h2 class="title title--h2">
          {{title}}
        </h2>

      {{{signInForm}}}

      {{{autoCompleteButton}}}
      {{{logoutButton}}}
      {{{signUpLink}}}

      <div class="{{styles.error}}">{{{error}}}</div>
      {{{form}}}
    </div>

</div>
